ul{
    list-style: none;
    display: flex;  
}

a{
    text-decoration: none;
    color: #e5e7eb;
}

.header{
    display: flex;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
}

body{
    margin: 0;
}

